<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940099973156-0dducr3d0drdrc40oa5hinvkj0q7s129.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940099973156-0dducr3d0drdrc40oa5hinvkj0q7s129</string>
	<key>API_KEY</key>
	<string>AIzaSyAy-Zgt-ONqrZh1nKnM9LsETMuGFUaDqW4</string>
	<key>GCM_SENDER_ID</key>
	<string>940099973156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbitals.SwipeStyle</string>
	<key>PROJECT_ID</key>
	<string>swipestyle-49ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>swipestyle-49ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940099973156:ios:295d8071898acbadc0e8b1</string>
</dict>
</plist>